.divhome{
    display: flex;
    margin-left: 510px;
    font-family: 'FontAwesome';
    font-size: 30px;
    color: rgb(61,43,31);
}

.buttonhome {
  border: none;
  font-family: 'Lato';
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline;
  margin: 10px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 50;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-size: x-small;
  margin-bottom: 83px;
  margin-top: auto;
}

.buttonhome:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Pseudo elements for icons */
.buttonhome:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}


/* Icon separator */
.buttonhome {
  padding: 10px 10px 10px 10px;
}

.buttonhome:before {
  background: rgba(0,0,0,0.15);
}

/* Button 1 */
.buttonhome {
  background: rgb(209,190,168);
  color: #fff;
}

.buttonhome:hover {
  background: rgb(188,152,126);
}

.buttonhome:active {
  background: rgb(188,152,126);
  top: 2px;
}

.buttonhome:before {
  position: absolute;
  height: 10%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: 140%;
  width: 40px;
}
.divtempnav{
  display: flex;
  position:inherit; 
  margin-top: 10px;
}
.homenavbar{
  margin-bottom: 10px;
}
.tempfilter{
  margin-right: 30px ;
  margin-top: 23px;
}

  .buttontoform {
    border: none;
    font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 50;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-size: x-small;
  }
  
  .buttontoform:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  /* Pseudo elements for icons */
  .buttontoform:before {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
  }
  
  
  /* Icon separator */
  .buttontoform {
    padding: 10px 16px 10px 20px;
  }
  
  .buttontoform:before {
    background: rgba(0,0,0,0.15);
  }
  
  /* Button 1 */
  .buttontoform {
    background: rgb(209,190,168);
    color: #fff;
  }
  
  .buttontoform:hover {
    background: rgb(188,152,126);
  }
  
  .buttontoform:active {
    background: rgb(188,152,126);
    top: 2px;
  }
  
  .buttontoform:before {
    position: absolute;
    height: 10%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 40px;
  }
  .divtempnav{
    display: flex;
    position:inherit; 
    margin-top: 10px;
  }
  .homenavbar{
    margin-bottom: 10px;
  }
  .tempfilter{
    margin-right: 30px ;
    margin-top: 8px;
  }
  .cardenhome {   
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7rem; 
  }
.paginadohome{
  margin-top: 50px;
}