.divhome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px; /* Ajusta la altura según tus preferencias */
}

.divhome h1 {
  font-family: 'FontAwesome';
  font-size: 48px; /* Ajusta el tamaño del título */
  color: rgb(61, 43, 31);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave */
  margin: 0; /* Elimina el margen predeterminado */
}

/* Estilos para los botones */
.buttonhome,
.buttontoform {
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: 16px; /* Ajusta el tamaño del texto de los botones */
  color: #fff;
  background-color: rgb(209, 190, 168);
  border-radius: 50px; /* Un valor adecuado para redondear los bordes */
  padding: 15px 30px; /* Ajusta el espacio interno del botón */
  margin: 10px 20px; /* Espacio entre botones */
  cursor: pointer;
  outline: none;
  position: relative;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.buttonhome:hover,
.buttontoform:hover {
  background-color: rgb(188, 152, 126);
  transform: translateY(-2px); /* Efecto de elevación al pasar el cursor */
}

.buttonhome:active,
.buttontoform:active {
  background-color: rgb(188, 152, 126);
  top: 1px;
}

/* Estilos para el ícono dentro de los botones */
.buttonhome:before,
.buttontoform:before {
  font-family: 'FontAwesome';
  content: '\f021'; /* Cambia este código por el icono deseado */
  font-size: 20px;
  margin-right: 10px; /* Espacio entre el ícono y el texto */
}

/* Estilos para la sección de filtros y navegación */
.divtempnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; /* Ajusta la separación desde arriba */
}

.tempfilter {
  margin-right: 20px; /* Ajusta el margen derecho */
  margin-top: 0; /* Elimina el margen superior */
}

/* Estilos para la sección de tarjetas */
.cardenhome {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem; /* Ajusta el espacio entre las tarjetas */
}

/* Estilos para la sección de paginación */
